.btn_01 {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    padding: 1rem 4rem;
    margin: 0 10px;
    font-weight: bold;
    border: 2px solid #27acd9;
    color: #27acd9;
    transition: 0.5s;
}

.btn_01:hover {
    color: #fff;
    background: #27acd9;
}

.button-container {
    text-align: center;
}