.btn_01 {
    display: inline-block;
    /* インラインブロック要素に設定 */
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 150px;
    margin: 0 30px;
    /* ボタン間の余白を設定 */
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    color: #27acd9;
    transition: 0.5s;
}

.btn_01:hover {
    color: #fff;
    background: #27acd9;
}

.btn_02 {
    display: inline-block;
    /* インラインブロック要素に設定 */
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 150px;
    margin: 0 10px;
    /* ボタン間の余白を設定 */
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    color: #27acd9;
    transition: 0.5s;
}